h1{
    color: red;
    font-family: 'Courier New', Courier, monospace;
    
}
.completed{
    color: gray;
    text-decoration: line-through;
}
h2{
    font-family: 'Courier New', Courier, monospace;
}

body{
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    padding: 0 4rem;

}
.todoItems{
    background-color: aquamarine;
    padding: 0 4rem;
}
li{
    list-style:none;
    display: flex;
    justify-content: space-between;
}
span{
    line-height: 2rem;
}